:root {
    --grid-per_side: 1;
  }

body{
    margin: 150px;
}

.container{
    display: grid;
    height: 80vh;
    width: 80vh;
    margin: 0 auto;    
    grid-gap: 0.1em;
    grid-template-rows: repeat(var(--grid-per_side), 1fr);
    grid-template-columns: repeat(var(--grid-per_side), 1fr);

}

.grid--item {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    background-color: white;
  }

.buttons{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 3.5em;
}
.restart--button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}