@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
:root {
    --grid-per_side: 1;
  }
*{
    font-family: 'Carter One', cursive;
}
body{
    margin: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.slider{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1.5em;
}
.container{
    display: grid;
    grid-template-rows: repeat(var(--grid-per_side), 1fr);
    grid-template-columns: repeat(var(--grid-per_side), 1fr);
    height: 60vh;
    width: 60vh;
    margin: auto;    
    border: 1px solid rgb(139, 137, 137);

}
.grid--item {
    border: 0.5px solid rgb(201, 201, 183);
    text-align: center;
    background-color: white;
}
.header{
    font-size: 36px;
    background: -webkit-linear-gradient(#eee, rgb(7, 71, 190));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.restart--button{
    font-size: 1.25em;
}
#slider--label{
    font-size:15px;
    max-width: 15ch;
    text-align: center;
}